html, body
  height: 100%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body
  background: #eee
  font-family: 'Arial', helvetica, sans-serif
  font-size: 62.5%
  padding-top: 6em
  
.header
  width: 100%
  height: 6em
  background: #444
  position: fixed
  top: 0
  z-index: 100
  
.header-wrapper
  max-width: 1040px
  margin: 0 auto
  
.header-logo
  font-family: 'Fredoka One', cursive
  font-weight: normal
  font-size: 3em
  margin: 0
  padding: 0
  line-height: 1.9
  color: #fff
  text-shadow: 1px 1px 0 #222
  
.section
  height: 60em
  position: relative
  display: flex
  
.section-01
  texturize('concrete')
  background-color: #F5D76E
  
.section-02
  texturize('paper')
  background-color: #fff
  
.section-03
  texturize('cubes')
  background-color: #1E8BC3
  
.section-04
  texturize('dust')
  background-color: #03C9A9
  
.section-05
  texturize('grunge')
  background-color: #eee
  
.section-content
  margin: auto
  font-family: 'Lucida Console', Monaco, monospace
  font-size: 4em
  font-weight: bold
  color: #444